<!DOCTYPE html>
{% extends "bimax_ieo/base.html" %}
{% load static %}

{% block content %}
<link href='{% static "css/gpa.css" %}' rel="stylesheet">
<script src='{% static "js/toka.js" %}'></script>


<div class="top_text">
    <label>
        간편구매 &nbsp;
    </label>
    <label>
        <h2>&nbsp;토큰 및 코인 거래</h2>
    </label>
</div>

<div class="container">
    <section id="head">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xs-18 col-sm-6 col-md-5" style="margin-top:20%; margin-left:10%">
                    <img src="{% static 'bimax_ieo/image/GPA_CI.png' %}" style="width:100%;">
                </div>
                <div class="col-xs-18 col-sm-6 col-md-4 tokabox">
                    <div class="card">
                        <div class="card-head">
                            <div class="container">
                                <strong>
                                    <h2>GPA 프라이빗세일</h2>
                                    <p>Beyond the ICO: Game platform Accelerator<br>And Blockchain incubator</p>
                                </strong>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="margin-left:60%">
                                <strong>
                                    <label>
                                        10,000 GPA
                                    </label>
                                    <label><h4>= 100.0 USMD</h4></label>
                                </strong>
                                <p style="font-weight:bold; font-size:5%">시작일: 2018년 01월 06일<br>종료일: 2019년 02월 04일</p>
                            </div>
                            <br><br>

                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <label>최소구매수량</label>
                            </div>
                            <div class="col-md-4">
                                <label>1,500 GPA</label>
                            </div>
                            <br><br>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <label>보유자산</label>
                            </div>
                            <div class="col-md-4">
                                <label>142.0 USDM</label>
                            </div>
                            <br><br>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>구매수량</label>
                                    <p>GPA</p>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <form action="" method="post" id="form1">
                                        <label><input type="text" name="amount" placeholder="10,000GPA" style="border-radius:30px; box-shadow: none; border: 1px solid #707070; opacity: 0.34; height: 40px;"></label>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="card-footer" style="width:90%; margin-left:5%">
                            <hr style="border: 0.7px solid #707070; opacity: 0.34">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>총 결제 금액</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="gpainput" style="float:right">0</label>
                                </div>
                                <div class="col-md-1">
                                    <label>USMD</label>
                                </div>

                            </div>
                            <br><br>
                            <center><button data-toggle="modal" data-target="#myModal" style="border-radius:30px; background:#ce6363; width: 60%; height: 50px; color:white">구매하기</button></center>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you sure buying this amount?</h3> 
                                            <label class="gpainput"></label>&nbsp;USMD
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default">Confirm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-18 col-sm-6 col-md-1"></div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="panel panel-default" style="margin-top:7%; margin-left: 4%; width:90%; border: 3px solid #ce6363; border-radius: 15px; ">
                <div class="panel-body">
                    <div class="container" style="margin-top:3%; margin-bottom: 3%">
                        <strong style="margin-left:5%; font-size: 20px">NOTE</strong>
                        <br><br>
                        <div class="container" style="margin-left:5%; font-weight: bold">
                            <p>*간편구매를 통해서 구입한 GPA 토큰은 환불이 불가하며, 변경 및 취소할 수 없습니다. 신중히 확인하신 후 구매해주시기 바랍니다.
                                <br>*GPA 토큰 정보와 관련된 문의는 바이맥스에서 진행되지 않으며 토카 측에 문의하여야 합니다. (홈페이지 링크 확인)
                                <br>*토큰 분배 시점은 토카 측 일정을 따르게 됩니다.
                                <br>*보너스로 지급 되는 수량은 5개월 동안 20%씩 순차적으로 락없이 해제됩니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container" style=" margin-left: 4%;">
            <h1><strong>세부정보</strong></h1>
            <br>
            <table class="table" style="width:90%;">
                <tr>
                    <td>상징</td>
                    <td>GPA</td>
                    <td>ICO 소프트캡</td>
                    <td></td>
                </tr>
                <tr>
                    <td>일정</td>
                    <td>2019-01-23~2019-01-31</td>
                    <td>ICO 하드캡</td>
                    <td>5000 BTC</td>
                </tr>
                <tr>
                    <td>가격</td>
                    <td>0.022USD</td>
                    <td>ICO 소프트캡</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </section>
</div>


{% endblock %}